.fondo {background-color: rgba(255, 176, 216, 0.97);} 

.texto {font-style: 80px;color: #7f26a59b;} 

.cola {font-size: xx-large ; color: #7f26a59b; border: 2px dashed plum;
     border-width: 5px ; width: 8vw; } 

 .skibidi {font-size: xx-large; color: #7f26a59b; }